@use "../abstracts/colors" as *;
@use "../abstracts/functions" as *;

.btn {
  display: inline-block;
  background: $clr-primary;
  color: #fff;
  padding: em(8) em(30);
  margin-block: em(30);
  border-radius: 100vh;
  transition: background 0.5s;

  &:hover {
    background: #563434;
  }
}
