@use "../abstracts/colors" as *;
@use "../abstracts/functions" as *;

.container {
  max-width: em(1300);
  margin: auto;
  padding-inline: em(25);
}

.navbar {
  display: flex;
  align-items: center;
  padding-inline: em(20);
  justify-content: space-between;

  .logo {
    img {
      width: em(200);
    }
  }

  img {
    width: 30px;
  }
}

nav {
  text-align: right;

  ul {
    display: inline-block;

    li {
      display: inline-block;
      margin-right: em(20);
      align-self: baseline;
    }
  }
}

a {
  text-decoration: none;
  color: $clr-accent;
}
