@use "../abstracts/colors" as *;

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: rem(50);
  line-height: em(60);
  margin-block: em(25);
}

p {
  color: $clr-accent;
}

h2 {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: $clr-accent;

  &::after {
    content: "";
    background: $clr-primary-600;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    inset: auto auto 0 50%;
    transform: translateX(-50%);
  }
}

h4 {
  color: $clr-accent;
  font-weight: normal;
}

.col-4 {
  p {
    font-size: 14px;
  }
}

marquee {
  p {
    color: black;
  }
}
