@use "../abstracts/colors" as *;
@use "../abstracts/functions" as *;

.container {
  max-width: em(1300);
  margin: auto;
  padding-inline: em(25);
}

.col-2 {
  flex-basis: 50%;
  min-width: em(300);
  span {
    color: floralwhite;
    background: green;
  }
  img {
    padding: em(50);
  }
}

.categories {
  margin-block: 70px;
  text-align: center;

  .heading {
    position: relative;
    display: inline-block;
  }
  h1 {
    &::before,
    &::after {
      content: "";
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
    }

    &::before {
      background: $clr-primary-600;
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      z-index: -2;
    }

    &::after {
      height: 101%;
      background: white;
      left: -0.1em;
      right: -0.1em;
      z-index: -1;
    }
  }
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-inline: 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;

  &:hover {
    transform: translateY(-5px);
  }
}

.rating {
  .fa {
    color: $clr-primary-600;
  }
}
